@media screen and (max-width: 376px) {
    .level-selector-images {
        flex-direction: column;
        align-items: center;
        gap: 30px;
    }

    body {
        margin: 0 3%;
    }

    #win-screen-body {
        margin: 0 3%;
    }

    #lose-screen-body {
        margin: 0 3%;
    }

    .btn-blue {
        margin: 0 3%;
    }

    .btn-confirm {
        margin: 0 3%;  
    }
}

@media screen and (min-width: 508px) {
    body {
        max-width: 450px;
        margin: 0 auto;
    }

    #win-screen-body {
        max-width: 450px;
        margin: 0 auto;
    }

    #lose-screen-body {
        max-width: 450px;
        margin: 0 auto;
    }

    .btn-blue {
        max-width: 450px;
        margin: 0 auto;  
    }

    .btn-confirm {
        max-width: 450px;
        margin: 0 auto;     
    }
}